/* My styles */
.ListItem {
  list-style: none;
  text-align: left;
}

.Members {
  margin-top: 20px;
}

.Member-name {
  display: inline;
  color: darkorange;
}

ul {
  background-color: powderblue;
  margin-left: 140px;
  margin-right: 140px;
  padding: 50px;
}

li {
  color: rebeccapurple;
}

/* default styles */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
